body {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  background-image: url("/img/backgroundimage.jpeg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

h1 {
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Prata", serif;
}

h2 {
  font-family: "Prata", serif;
  margin-bottom: 20px;
  padding-top: 15px;
}

p {
  width: 50%;
  font-size: 15px;
}

.welcome {
  font-family: "Prata", serif;
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 30px;
  text-decoration: underline;
  text-decoration-color: #eeff01;
  text-decoration-thickness: 11px;
  line-height: 2;
}

.left {
  margin-left: 100px;
}

.container {
  font-size: 13px;
  line-height: 1.7;
}

.education-wrapper {
  margin: 0 auto;
}

.col-1 {
  font-weight: 700;
  margin-right: 12px;
}

.background-1 {
  background: rgb(0, 36, 62, 0.7);
}

.background-2 {
  background: rgb(0, 36, 62, 0.3);
}

.background-3 {
  background: rgb(0, 36, 62, 0.1);
}

.background-4 {
  background: rgb(0, 36, 62, 0.5);
}

.background-5 {
  background: rgb(0, 36, 62, 0.7);
}

.background-6 {
  background: rgb(151, 170, 189, 0.8);
}

.background-7 {
  background: rgb(45, 92, 124, 0.6);
}

.previous {
  font-size: 13px;
  margin-top: 7px;
}

.clickable-item {
  text-decoration: none;
  color: #eeff01;
}

.clickable-item-subsite {
  text-decoration: underline;
  color: black;
}

.clickable-item:hover,
.clickable-item-subsite:hover,
.back-link:hover {
  font-weight: 550;
  color: #eeff01;
}

.back-link {
  color: #eeff01;
  text-decoration: none;
}

.show-information {
  font-size: 13px;
  padding: 5px;
  margin-left: 10px;
  width: 95%;
}

.arrow {
  font-size: 30px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #eeff01;
  text-decoration-thickness: 11px;
  font-family: "Prata", serif;
  font-size: 16px;
}

.white {
  color: white;
}

@media (min-width: 1024px) {
  body.subsite {
    background: rgb(45, 92, 124, 0.6);
    color: white;
    padding-bottom: 100px;
  }

  p {
    width: 60%;
    font-size: 17px;
  }

  a.clickable-item-subsite {
    color: white;
  }
}

@media (max-width: 1024px) {
  body.subsite {
    background: rgb(45, 92, 124, 0.6);
    color: white;
    padding-bottom: 100px;
  }

  p {
    width: 60%;
    font-size: 17px;
  }

  a.clickable-item-subsite {
    color: white;
  }

  p {
    padding-top: 20px;
    width: 80%;
    font-size: 22px;
  }

  a.clickable-item-subsite {
    color: black;
  }

  .container {
    font-size: 13px;
  }

  .previous {
    font-size: 13px;
    margin-bottom: 15px;
  }
}

@media (max-width: 815px) {
  a.clickable-item-subsite {
    color: white;
  }
}

@media (max-width: 768px) {
  body.subsite {
    background: rgb(45, 92, 124, 0.6);
    color: white;
    padding-bottom: 100px;
  }

  p {
    width: 60%;
    font-size: 17px;
  }

  a.clickable-item-subsite {
    color: white;
  }

  .introduction {
    max-width: 535px;
    margin-top: 25px;
  }

  .show-information {
    margin-right: -20px;
    color: white;
  }

  .underline {
    line-height: 2.3;
  }

  .container {
    font-size: 12px;
  }

  .previous {
    font-size: 13px;
  }

  .clickable-item-subsite {
    color: white;
  }
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
  }

  .row {
    margin-left: 0px;
  }

  body.subsite {
    background: rgb(45, 92, 124, 0.6);
    color: white;
    padding-bottom: 100px;
  }

  p {
    font-size: 17px;
    width: 70%;
  }

  a.clickable-item-subsite {
    color: white;
  }

  .welcome {
    margin-left: 0;
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    line-height: 2.5;
    text-decoration: none;
  }

  .smalldev {
    margin-top: -13px;
    text-decoration: underline;
    text-decoration-color: #eeff01;
    text-decoration-thickness: 11px;
  }

  .introduction {
    font-size: 12px;
    text-align: center;
  }

  div.container {
    padding: 0px;
    text-align: center;
    font-size: 9px;
  }

  .show-information {
    font-size: 13px;
    margin-top: 20px;
    color: white;
  }

  .previous {
    font-size: 12px;
  }

  .clickable-item {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }

  .col-3 {
    font-size: 8px;
  }

  .row {
    margin-left: 0px;
  }
}

@media (max-width: 280px) {
  h2 {
    font-size: 19px;
  }

  p {
    font-size: 14px;
    width: 60%;
  }
}
