body {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  background-image: url("/img/backgroundimage.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin-top: 60px;
  margin-left: 30px;
  font-family: "Prata", serif;
}

h2 {
  font-family: "Prata", serif;
  margin-bottom: 20px;
  padding-top: 15px;
}

p {
  width: 50%;
  font-size: 15px;
}

body.subsite {
  background: rgb(45, 92, 124, 0.6);
  color: white;
  padding-bottom: 100px;
}

a.clickable-item-subsite {
  color: white;
}

.welcome {
  font-family: "Prata", serif;
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 30px;
  text-decoration: underline;
  text-decoration-color: #eeff01;
  text-decoration-thickness: 11px;
  line-height: 2;
}

.left {
  margin-left: 100px;
}

.container {
  font-size: 13px;
  line-height: 1.7;
}

.education-wrapper {
  margin: 0 auto;
}

.col-1 {
  font-weight: 700;
  margin-right: 20px;
  margin-left: -8px;
}

.background-1 {
  background: rgb(0, 36, 62, 0.7);
}

.background-2 {
  background: rgb(0, 36, 62, 0.3);
}

.background-3 {
  background: rgb(0, 36, 62, 0.1);
}

.background-4 {
  background: rgb(0, 36, 62, 0.5);
}

.background-5 {
  background: rgb(0, 36, 62, 0.7);
}

.background-6 {
  background: rgb(151, 170, 189, 0.8);
}

.background-7 {
  background: rgb(45, 92, 124, 0.6);
}

.previous {
  font-size: 13px;
  margin-top: 7px;
}

.clickable-item {
  text-decoration: none;
  color: #eeff01;
}

.clickable-item-subsite {
  text-decoration: underline;
  color: black;
}

.clickable-item:hover,
.clickable-item-subsite:hover,
.back-link:hover {
  font-weight: 550;
  color: #eeff01;
}

.back-link {
  color: #eeff01;
  text-decoration: none;
}

.show-information {
  font-size: 13px;
  padding: 5px;
  margin-left: 10px;
  width: 95%;
}

.arrow {
  font-size: 30px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #eeff01;
  text-decoration-thickness: 11px;
  font-family: "Prata", serif;
  font-size: 16px;
}

.white {
  color: white;
}

footer a.clickable-item {
  font-size: 11px;
  color: white;
  text-decoration: underline;
}

.dots {
  padding-right: 100px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
}

.dot-no {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  margin: 0 auto;
}

img {
  border: 1px solid transparent;
  border-radius: 200px;
}

@media (min-width: 1024px) {
  p {
    width: 60%;
    font-size: 17px;
  }

  .row,
  a.clickable-item {
    margin-left: 0px;
    font-size: 17px;
  }

  .contact {
    color: white;
  }
}

@media (max-width: 1024px) {
  p {
    width: 80%;
    font-size: 20px;
  }

  .row,
  a.clickable-item {
    margin-left: 0px;
    font-size: 17px;
  }

  .col-1 {
    margin-right: 30px;
  }

  .container {
    font-size: 13px;
  }

  .previous {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .contact {
    color: white;
  }
}

@media (max-width: 768px) {
  h1 {
    margin-top: 30px;
  }

  p {
    width: 60%;
    font-size: 17px;
  }

  .row,
  a.clickable-item {
    margin-left: 0px;
    font-size: 17px;
  }

  .container {
    font-size: 12px;
  }

  .previous {
    font-size: 13px;
  }

  .clickable-item-subsite {
    color: white;
  }

  .dots {
    padding-right: 270px;
    font-size: 15px;
  }

  .contact {
    color: white;
  }

  img {
    margin-top: 60px;
    width: 170px;
  }
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;
  }

  p {
    font-size: 17px;
    width: 70%;
  }

  .row,
  a.clickable-item {
    margin-left: 0px;
    font-size: 13px;
  }

  .col-1 {
    padding-right: 35px;
  }

  .welcome {
    margin-left: 0;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    line-height: 2.5;
    text-decoration: none;
  }

  .smalldev {
    margin-top: -13px;
    text-decoration: underline;
    text-decoration-color: #eeff01;
    text-decoration-thickness: 11px;
  }

  div.container {
    padding: 0px;
    text-align: center;
    font-size: 9px;
  }

  footer {
    margin-top: 10px;
  }

  .dots {
    padding-left: 90px;
    padding-right: 90px;
  }

  .gap {
    margin-top: 20px;
  }

  .contact {
    color: white;
  }
}

@media (max-width: 540px) {
  h1 {
    margin-top: 70px;
  }

  h2 {
    margin-top: 30px;
  }

  .dots {
    padding: 0px 60px 20px 60px;
  }

  .contact {
    color: white;
  }
}

@media (max-width: 320px) {
  h1 {
    margin-top: 30px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .welcome {
    font-size: 12px;
  }

  .col-3 {
    font-size: 8px;
  }

  .row,
  a.clickable-item {
    margin-left: 0px;
    font-size: 11px;
  }

  .dots {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
  }

  .contact {
    color: white;
  }
}

@media (max-width: 280px) {
  h1 {
    margin-top: 30px;
  }

  h2 {
    font-size: 19px;
  }

  p {
    font-size: 14px;
    width: 60%;
  }

  .welcome {
    font-size: 11px;
  }

  .row,
  a.clickable-item {
    margin-left: 0px;
    font-size: 8px;
  }

  .col-1 {
    margin-right: 0px;
  }

  .dots {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact {
    color: white;
  }
}
