body {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  background-image: url("/img/backgroundimage.jpeg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

h1 {
  margin-top: 30px;
  margin-bottom: -6px;
  font-family: "Prata", serif;
}

h3 {
  font-family: "Prata", serif;
  margin-bottom: 20px;
  margin-right: 40px;
}

.welcome {
  font-family: "Prata", serif;
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 145px;
  text-decoration: underline;
  text-decoration-color: #eeff01;
  text-decoration-thickness: 11px;
}

.introduction {
  margin-top: 27px;
  margin-bottom: 17px;
}

.left {
  margin-left: 0px;
}

.container {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.7;
}

.education-wrapper {
  margin: 0 auto;
}

.col-1 {
  font-weight: 700;
  margin-right: 12px;
}

.background-1 {
  background: rgb(0, 36, 62, 0.7);
}

.background-2 {
  background: rgb(0, 36, 62, 0.3);
}

.background-3 {
  background: rgb(0, 36, 62, 0.1);
}

.background-4 {
  background: rgb(0, 36, 62, 0.5);
}

.background-5 {
  background: rgb(0, 36, 62, 0.7);
}

.background-6 {
  background: rgb(151, 170, 189, 0.8);
}

.background-7 {
  background: rgb(45, 92, 124, 0.6);
}

.previous {
  font-size: 13px;
  margin-top: 7px;
}

.clickable-item {
  text-decoration: none;
  color: #eeff01;
}

.clickable-item:hover {
  font-weight: 600;
  color: #eeff01;
}

.show-information {
  font-size: 13px;
  padding: 5px;
  margin-left: 10px;
  width: 95%;
}

.arrow {
  font-size: 30px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #eeff01;
  text-decoration-thickness: 11px;
  font-family: "Prata", serif;
  font-size: 16px;
}

.white {
  color: white;
}

@media (max-width: 1024px) {
  .container {
    font-size: 13px;
  }

  .previous {
    font-size: 13px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .introduction {
    max-width: 535px;
    margin-top: 25px;
  }

  .show-information {
    margin-right: -20px;
    color: white;
  }

  .underline {
    line-height: 2.3;
  }

  .container {
    font-size: 12px;
  }

  .previous {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
  }

  .welcome {
    margin-left: 0;
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    line-height: 2.5;
    text-decoration: none;
  }

  .smalldev {
    margin-top: -13px;
    text-decoration: underline;
    text-decoration-color: #eeff01;
    text-decoration-thickness: 11px;
  }

  .introduction {
    font-size: 12px;
    text-align: center;
  }

  .container {
    margin-left: 12px;
    text-align: center;
    font-size: 9px;
  }

  .show-information {
    font-size: 13px;
    margin-top: 20px;
    color: white;
  }

  .previous {
    font-size: 12px;
  }

  .clickable-item {
    font-size: 10px;
  }
}

@media (max-width: 280px) {
  .col-3 {
    font-size: 8px;
  }
}
